@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');

* {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
}

html {
    font: 16px;
}

body {
    margin: 0;
    margin-top: 5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul li {
    /* margin: 16px;
    margin-left: 16px ;
    margin-right: 16px; */
    margin: 0 16px;
}

nav ul li a {
    color: gray;
    text-decoration: none;
}

h1 {
    font-family: 'Pixelify Sans', cursive;
    margin: 0;
    font-weight: 900;
    font-size: 2rem;
}


h2 {
    font-weight: 700;
}

p,a,li {
    font-weight: 400;
}

p,li {
    font-size: 16px;    
}

a {
    /* con respecto al elemento pagres */
    font-size: 1.5rem;
    text-decoration: none;
    /* con respecto a la configuracion del root */
    /* font-size: 1.5rem; */
}

header a h1 {
    color: black;
}
section {
    padding: 1rem 5%; 
}
#clientes p{
    color: #198038;
}

.d-flex {
    display: flex;
}

.ml-1 {
    margin-left: 0; /*16px;*/
}

.float-right {
    float: right;
}
.image {
    border-width: 2px;
    border-color: white;
    border-style: inset inset none none;
    height: 100%;
}

.height-200 {
    height: 200px;
}

.header-container {
    align-items: center;
    background-color: beige;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    position: fixed;
    top: 0;
    width: 100%;
}


.text {
    /* float: right; */
    text-align: justify;
}

.container-galeri {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    /* tambien se puede usar text-align: center; */
    /* pero no es recomendable ya que es una propiedad de texto */
}

.galeri-images {
    border: 4px solid blue;
    height: 250px;
    margin: 16Px;
    /* padding: auto; */
}

.nosotros-banner {
    background-image: url("https://images.unsplash.com/photo-1454372182658-c712e4c5a1db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    /* width: 100vw; */
    height: 86vh;
    background-position-x: 50%;
    background-position-y: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
.nosotros-banner h2{
    background-color: #122816a1;
    font-size: 3rem;
    color: #e6e6e6;
    text-align: center;
}
.nosotros-banner p{
    background-color: #122816a1;
    color: #e6e6e6;
    text-align: center;
}