nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: end;
}

.sub-menu{
    align-items: center;
    display: none;
    background-color: rgb(250, 243, 231);
    border-bottom: 1px solid rgb(69, 66, 66);
    padding: 8px;
    width: 100%;
}

@media (max-width:1400px){
   header nav ul{display: none;}
   .sub-menu{
    display: flex;
   }
   .sub-menu nav ul{
    justify-content: start;
   }
}
nav ul li {
    /* margin: 16px;
    margin-left: 16px ;
    margin-right: 16px; */
    margin: 0 16px;
}

/* nav ul li a {
    color: gray;
    text-decoration: none;
} */

header a h1 {
    color: black;
}

a:link {
    color: gray;
    text-decoration: none;
}

a:hover {
    font-size: 1.75rem;
    cursor: pointer;
}

@media(max-width:1400px){
    a:hover{
        font-size: 1.25rem;
    }
}

a:visited {
    color: #1f0606;
}
a:active {
    color: #ffffff;
}


.header-container {
    box-sizing: border-box;
    align-items: center;
    background-color: beige;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    min-height: 62px;
    position: fixed;
    padding: 8px;
    top: 0;
    width: 100%;
}

